*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    paddings: 10px 0px;
}

section h3{
    color: black;
}

section table {
    margin-top: 20px;
    color: black;
    border: 1px solid grey;
    border-radius: 4px;
    text-align: center;
}

section table th{
    margin: 10px 5px;
    border:1px solid grey;
    border-radius: 4px;
    padding: 10px;
}
section table td{
    margin: 10px 5px;
    border:1px solid grey;
    border-radius: 4px;
    padding: 10px;
}


